html {
   scroll-behavior: smooth;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Fira Sans', sans-serif;
   color: #fff;
   font-size: 15px;
   background:#3B322D ;
}

* {
   box-sizing: border-box;
}

h1, h2, h3, h3, h4 , h5 , h6 {
   margin: 0;
}

img{
   padding: 0;
   margin: 0;
}

/*Container*/
.container {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto; 
}

/* Header */

.header {
   width: 100%;

   background:#3B322D ;
   background-size: cover;  
}

/*Header Logo*/

.header__items {  
   display: flex;
   padding-top: 35px ;
   padding-bottom: 35px; 
}

.header__logo {
   display: flex;
   align-items: center; 
}

.logo__img {
   width: 36px;
   height: 36px;
}

.header__logo__text{
   font-size: 16px ;
   font-weight: 700;
   padding: 9px 36px 9px 17px ;
}

/* Navigation */

.menu {  
  padding: 15px 0px 15px 34px; 
  transition-duration: 0.5s;
}

.menu__item  {
   display: inline-block;
   vertical-align: top;
   padding-right: 40px;
   color: #EFE7E2 ;
   font-size: 15px;
   text-decoration: none;
   line-height: 20.25px;
   transition-duration: 0.3s;
}

.menu__item:hover {
  color: #FF6E40;
  transition: .3s;
  transform: scale(1.2);
}
 
.menu__item__lust {
   display: inline-block;
   vertical-align: top;
   color: #EFE7E2 ;
   font-size: 15px;
   text-decoration: none;
   transition-duration: 0.3s;
}

.menu__item__lust:hover {
   position: relative;
   color: #FF6E40;
   transition: .3s;
   transform: scale(1.2);
 }

/* Adress */
.adress {
   display: flex;
   font-size: 14px ;
   margin-left: 40px ;
   align-items: center;
}

.map__items { 
   font-size: 14px ;
   font-weight: 400;
   line-height:  18.9px;
   padding-right:15px ;
}

.mark__img {
   width: 36px;
   height: 36px;
}

.number {
   font-size: 18px;
}
.number__text {
   padding-left: 35px ;
}

.mark__img_lust {
   width: 36px;
   height: 36px;
}

/* MAIN  */



.title__bg {
   height: 420px;
   background: url(images/bg__top.png);
}

.title__bg__ton {
   height: 420px;
   background: linear-gradient(90deg, rgba(33, 24, 20, 0.57) 0%, rgba(38, 28, 24, 0.42) 100%);
}

.titles {
   padding: 40px 0 64px 50px;
}

.title {
   padding-bottom: 32px ;
   font-family: 'Playfair Display';
   font-weight: 900;
   font-size: 70px;
   line-height: 110%;
   color: #FFFFFF;
}

.subtitle {
   
font-family: 'Fira Sans';
font-size: 18px;
line-height: 150%;
color: #EFE7E2;
}



/* MASTER WORKS  */

.master__works {

 height: 878px;
}

.master__item {
padding-top: 90px;
}

.master__title {
   
   display: flex;
   align-items: center;
   background:#251D1A ;
  
  
}

.master__name  {
   padding-left: 50px;
   font-family: 'Fira Sans';
   font-weight: 700;
   font-size: 48px;
   line-height: 125%;
   color: #EFE7E2;
}

.descriptions {
   display: flex;
   
   justify-content: space-between ;
}

.educations {
   padding-left: 235px;      
   font-size: 18px;
   line-height: 150%;
   color: #B7AAA2;
}

.specific {
   padding-left: 45px;
   padding-top: 15px;
   font-size: 18px;
   line-height: 150%;
   color: #B7AAA2;
}

/* GALLERY  */



.header__block {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
}

.footer__block  {
   display: flex;
   justify-content: space-between;
   padding-top: 20px;
   padding-bottom: 30px;
}

/* BUTTON  */
.button {
   align-items: center;
   
   
}

.see__all {
   background: #FF6E40;
   border: none;
   margin-left: 461px;
   
}

.see__all__works {
  
   display: flex;
   padding: 18.5px 60px;
   text-decoration: none;

   font-family: 'Playfair Display';
   font-weight: 700;
   font-size: 20px;
   line-height: 152%;

   align-items: center;
   text-align: center;

   color: #FFFFFF;
}

.see__all:hover {
   background-color:  #e65f36e8;
   box-shadow: 0 12px 16px 0 rgba(255, 123, 0, 0.13), 0 17px 50px 0 rgba(0,0,0,0.19);
   transition: .7s;
   transform: scale(1.1);
}

/* Consultation  */

.consultation {
   padding: 120px 0;
   position: relative;
}

.consul {
   background: #FF6E40;
   text-align: center;
}

/* Conultation Titles  */

.cons__title {
   width: 100%; 
   padding: 70px 0 12px 0 ;
   font-family: 'Playfair Display';
   font-size: 36px;
   font-weight: 900;
   color: #000;
}

.cons__subtitle {
   padding-bottom: 35px ;
   font-size: 21px;
   text-align: center;
   color: #3B322D;
}

/* Consultation inputs  */


.inputs {
   display: flex;
   justify-content: space-around;
   padding: 0 150px;
}

.input__tel {
   font-family: inherit;
   width: 323px;
   height: 68px;
   background: none;
   border: 2px solid #000;
   color: #fff;
   font-size: 17px ;
}

.input__tel::placeholder {
   color: #FFF;
   font-size: 17px ;  
}

.input__email {
   font-family: inherit;
   width: 323px;
   height: 68px;
   background: none;
   border: 2px solid #000;
   color: #fff;
   font-size: 17px ;
}

.input__email::placeholder {
   color: #FFF;
   font-size: 17px ;
}

.botton__book {
   cursor: pointer;
   background: #000;
   font-family: 'Playfair Display';
   font-weight: 700;
   font-size: 20px;
   align-items: center;
   text-align: center;
   color: #FFF;
   width: 194px;
   height: 68px;
}

.botton__book:hover {
   box-shadow: 10px 10px 20px 10px #00000023, 0 17px 50px 0 #00000077; 
   color: #FF6E40;
   font-size: large;
}

.terms {
   color: #EFE7E2;
   font-size: 13px;
   padding: 25px 0 70px
}



/* Contacts  */

.contacts {
   padding-top: 120px;
   padding-bottom: 60px;
   background-size: cover;
   background: url(images/map__bg.png);
   padding-top: 60px;
}

.contacts__items {
   width: 100%;
   max-width: 480px;
   background: #251D1A;
}

.contacts__title {
   font-weight: 700;
   font-size: 48px;
   color: #FFFFFF;
   padding-top: 65px;
   padding-left: 57px;
}

.contact__item {
   display: flex;
   align-items: center;
   padding: 25px 0 0 57px
}

.contact__text {
   padding-left: 31px ;
   font-family: 'Playfair Display';
   font-style: normal;
   font-weight: 400;
   font-size: 21px;
   color: #FFFFFF;
}

.last__item {
   display: flex;
   align-items: center;
   padding: 25px 0 80px 57px
}

/* Footer  */

.footer {
   display: flex;
   align-items: center;
   height: 129px ;
   background: #251D1A;
}

.footer__text {
   
  padding-top: 25px;
   text-align: center;
   font-family: 'Playfair Display';
   font-weight: 400;
   font-size: 12px;
   line-height: 16px;
   color: #FFFFFF;
}


/* Yakor  */
.up__link {
   text-align: right;
   font-size: 20px;
   text-decoration: none;
}

.up__link a {
   padding: 5px; 
   text-decoration: none;
   border: 3px solid #FF6E40;
   border-radius: 10% ;
   color:#FF6E40; ;
}

.up:hover {
   color: #fafafa;
}
